<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="RunAsConsole" value="true"/>
        
        <!-- must configure self, master and backup even if all one and the same -->
        <add key="ClusterNodeAddress" value="127.0.0.1,8089" />
        <add key="MasterClusterNodeAddress" value="127.0.0.1,8089" />
        <add key="MasterBackupClusterNodeAddress" value="127.0.0.1,8089" />

        <!-- when defined or not empty, server will host management service -->
        <add key="ManagementClusterNodeAddress" value="127.0.0.1,8090" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
